@import '../../styles/variable';

.home-page {
   display: flex;
   align-items: flex-end;
   justify-content: space-around;
   height: 100vh;
   background: url('../../assets/home/background-home-desktop.jpg') no-repeat;
   background-size: cover;

   div {
      margin-bottom: 150px;
   }
}

.home-introduction-text {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 450px;
   height: 382px;
}

.home-explore {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 247px;
   height: 247px;
   border-radius: 50%;
   background-color: $tertiary-color;

   h4 {
      color: $primary-color;
   }

   &:hover {
      cursor: pointer;

      &::before {
         content: ' ';
         width: 450px;
         height: 450px;
         position: absolute;
         border-radius: 50%;
         background-color: rgba($tertiary-color, 10%);
      }
   }
}

@media (max-width: $breakpoint-tablet) {
   .home-page {
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background: url('../../assets/home/background-home-tablet.jpg') no-repeat;
      background-size: cover;

      div {
         margin-bottom: 0;
      }
   }

   .home-introduction-text {
      margin-top: 50px;
      height: 334px;
      width: clamp(300px, 95%, 450px);

      > * {
         text-align: center;
      }

      h1 {
         font-size: clamp(100px, 30vw, 150px);
      }

      h5 {
         font-size: 20px;
         letter-spacing: 3.4px;
      }
   }
}

@media (max-width: $breakpoint-mobile) {
   .home-page {
      background: url('../../assets/home/background-home-mobile.jpg') no-repeat;
      background-size: cover;
   }

   .home-introduction-text {
      width: 327px;
      height: 276px;
      margin-top: 50px !important;

      h1 {
         font-size: 80px;
      }

      h5 {
         font-size: 16px;
      }

      p {
         font-size: 15px;
      }
   }

   .home-explore {
      width: 150px;
      height: 150px;

      h4 {
         font-size: 20px;
         letter-spacing: 1.25px;
      }
   }
}
