@import '../../styles/variable';

.nav {
    position: absolute;
    top: 40px;
    left: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
    width: calc(100vw - 55px);
    font-size: 16px;
    letter-spacing: 2.7px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: min(1000px, calc(70% - 55px));
    background: rgba($tertiary-color, 4%);
    backdrop-filter: blur(10px);
    height: 100%;

    strong {
        font-weight: bold;
    }

    .nav-item {
        list-style-type: none;

        > a {
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}